<header class="header">
    <nav class="navbar">
        <a *ngxPermissionsOnly="['ROLE_ADMIN']" href="admin-home">
            <img id="logo" src="assets/images/logo.png" />
        </a>

        <a *ngxPermissionsExcept="['ROLE_ADMIN']" href="">
            <img id="logo" src="assets/images/logo.png" />
        </a>

        <ul class="nav-menu">
            <li *ngxPermissionsExcept="['ROLE_ADMIN', 'ROLE_USER']" class="nav-item"><a href="login"
                    class="nav-link">Login</a> </li>
            <li *ngxPermissionsOnly="['ROLE_ADMIN', 'ROLE_USER']" class="nav-item"><a (click)="logout()"
                    class="nav-link">Logout</a></li>
            <li *ngxPermissionsOnly="['ROLE_USER']" class="nav-item"><a href="reservations"
                    class="nav-link">Reservations</a></li>
            <li *ngxPermissionsOnly="['ROLE_ADMIN']" class="nav-item"><a href="allReservations"
                    class="nav-link">Reservations</a></li>
            <li class="nav-item"><a href="help" class="nav-link">Help</a></li>
            <li class="nav-item"><mat-slide-toggle [checked]="darkMode$ | async" (change)="onToggle()" >Dark Mode</mat-slide-toggle>
            </li>
        </ul>

        <button id="btn" (click)="setActive()">
            <img *ngxPermissionsExcept="['ROLE_ADMIN', 'ROLE_USER']" id="userImg" src="assets/images/withinLogin.png" />
            <img *ngxPermissionsOnly="['ROLE_USER']" id="userImg" src="assets/images/userPlaceholder.png" />
            <img *ngxPermissionsOnly="['ROLE_ADMIN']" id="userImg" src="assets/images/adminIcon.png" />
        </button>
    </nav>
</header>