<div class="content">
    <div class="contact-wrapper animated bounceInUp">
        <div class="form-container">
            <h3>Recover password</h3>
            <form [formGroup]="loginForm" (ngSubmit)="submit()">
                <input type="text" formControlName="name" placeholder="Full name">
                <input type="password" formControlName="password" placeholder="Password">
                <input type="password" formControlName="newPassword" placeholder="Repeat password">
                <div class="alert-danger" *ngIf="match">
                    Passwords don't match.
                </div>
                <button type="submit" class="btn-send" [disabled]="!loginForm.valid">Send</button>
            </form>
        </div>
    </div>
</div>