.example-card {
    height: 30em;
    max-width: 20em;
    border-radius: 1em;
    text-align: center;
    background-color: #F5F1ED;
    border: 1px solid black;
    margin: 1em 0 ;
    color: black;
}

.my360 {
    width: 100%;
    overflow: hidden;
}

h3{
    margin: .7em 0;
    font-size: 1.25em;
}

p{
    margin-top: 1em;
    text-align: justify;
}