.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.text {
    text-align: center;
}

h2 {
    font-size: 2.5em;
    margin: .75em 0;
}