.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchBar {
    border-radius: 2em;
    padding: 0.25em;
    width: 75%;
    height: 2em;
}