.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

#searchBar{
    border-radius: 2em;
    padding:0.25em;
    width: 70%;
}